a {
  text-decoration: none;
  color: white;
}

 body {
   max-width: 1920px;
   width: 100%;
   background: white;
   margin: 0;
 }

 .wrapper {
   max-width: 580px;
   width: 85%;
   height: 100%;
   padding: 20px 0;
   margin: 0 auto;
 }

 .container {
   border-left: 3px solid #E1E1E1;
 }

 .logo {
   display: block;
   margin: 0 auto;
   width: 40%;
 }

 .header-caption {
   margin-left: 30px;
 }

 .img-left {
   float: left;
   padding-right: 10px;
   width: 40px;
   margin-left: -22px;
 }

 .info__content {
   margin-left: 30px;
 }
 .content-caption {
   margin-bottom: 10px;
 }

 .content-text {
   margin: 0;
 }

 .sentence {
   min-height: 40px;
 }

 .sentence-text {
   margin-left: 30px;
   padding: 1% 0 0 0;
 }

 .recomendation {
   min-height: 40px;
 }

 .recomendation-text {
   margin-left: 30px;
   text-align: right;
   padding: 1% 0 0 0;
 }

 .btn {
   background: #0488FA;
   width: 70%;
   padding: 20px 0;
   border-radius: 3px;
   text-align: center;
   cursor: pointer;
   margin: 0 auto;
   text-transform: uppercase;
   box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
   line-height: 1.5;
 }

 .btn:hover {
   opacity: 0.9;
 }
